
<button class="bg-green-500 text-white font-semibold px-4 py-2 rounded-lg m-4" (click)="openValidations()">
    List Validation
</button>

<div class="popup-overlay" *ngIf="listValidationShow">
    <div class="popup-content">
        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">ID</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Question</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Answers</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Points</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                <tr class="hover:bg-gray-50" *ngFor="let validation of validations$ | async; let i = index">
                    <td class="px-6 py-4">{{ i + 1 }}</td>
                    <td class="px-6 py-4">{{ validation.question.text }}</td>
                    <td class="px-6 py-4">{{ validation.answer.answerText }}</td>
                    <td class="px-6 py-4">{{ validation.points }}</td>
                </tr>

            </tbody>
        </table>

        <button (click)="closeValidationPopup()"
            class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg mt-4">Fermer</button>
    </div>
</div>